// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icons-arr-acord-down-name: 'icons-arr_acord_down';
$icons-arr-acord-down-x: 704px;
$icons-arr-acord-down-y: 47px;
$icons-arr-acord-down-offset-x: -704px;
$icons-arr-acord-down-offset-y: -47px;
$icons-arr-acord-down-width: 17px;
$icons-arr-acord-down-height: 9px;
$icons-arr-acord-down-total-width: 721px;
$icons-arr-acord-down-total-height: 687px;
$icons-arr-acord-down-image: '../images/sprite/icons.png';
$icons-arr-acord-down: (704px, 47px, -704px, -47px, 17px, 9px, 721px, 687px, '../images/sprite/icons.png', 'icons-arr_acord_down', );
$icons-arr-acord-up-name: 'icons-arr_acord_up';
$icons-arr-acord-up-x: 704px;
$icons-arr-acord-up-y: 66px;
$icons-arr-acord-up-offset-x: -704px;
$icons-arr-acord-up-offset-y: -66px;
$icons-arr-acord-up-width: 17px;
$icons-arr-acord-up-height: 9px;
$icons-arr-acord-up-total-width: 721px;
$icons-arr-acord-up-total-height: 687px;
$icons-arr-acord-up-image: '../images/sprite/icons.png';
$icons-arr-acord-up: (704px, 66px, -704px, -66px, 17px, 9px, 721px, 687px, '../images/sprite/icons.png', 'icons-arr_acord_up', );
$icons-ic-3depth-m-close-name: 'icons-ic_3depth_m_close';
$icons-ic-3depth-m-close-x: 489px;
$icons-ic-3depth-m-close-y: 652px;
$icons-ic-3depth-m-close-offset-x: -489px;
$icons-ic-3depth-m-close-offset-y: -652px;
$icons-ic-3depth-m-close-width: 22px;
$icons-ic-3depth-m-close-height: 14px;
$icons-ic-3depth-m-close-total-width: 721px;
$icons-ic-3depth-m-close-total-height: 687px;
$icons-ic-3depth-m-close-image: '../images/sprite/icons.png';
$icons-ic-3depth-m-close: (489px, 652px, -489px, -652px, 22px, 14px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_3depth_m_close', );
$icons-ic-3depth-m-open-name: 'icons-ic_3depth_m_open';
$icons-ic-3depth-m-open-x: 456px;
$icons-ic-3depth-m-open-y: 652px;
$icons-ic-3depth-m-open-offset-x: -456px;
$icons-ic-3depth-m-open-offset-y: -652px;
$icons-ic-3depth-m-open-width: 23px;
$icons-ic-3depth-m-open-height: 14px;
$icons-ic-3depth-m-open-total-width: 721px;
$icons-ic-3depth-m-open-total-height: 687px;
$icons-ic-3depth-m-open-image: '../images/sprite/icons.png';
$icons-ic-3depth-m-open: (456px, 652px, -456px, -652px, 23px, 14px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_3depth_m_open', );
$icons-ic-add-name: 'icons-ic_add';
$icons-ic-add-x: 270px;
$icons-ic-add-y: 652px;
$icons-ic-add-offset-x: -270px;
$icons-ic-add-offset-y: -652px;
$icons-ic-add-width: 20px;
$icons-ic-add-height: 20px;
$icons-ic-add-total-width: 721px;
$icons-ic-add-total-height: 687px;
$icons-ic-add-image: '../images/sprite/icons.png';
$icons-ic-add: (270px, 652px, -270px, -652px, 20px, 20px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_add', );
$icons-ic-address-name: 'icons-ic_address';
$icons-ic-address-x: 638px;
$icons-ic-address-y: 277px;
$icons-ic-address-offset-x: -638px;
$icons-ic-address-offset-y: -277px;
$icons-ic-address-width: 50px;
$icons-ic-address-height: 50px;
$icons-ic-address-total-width: 721px;
$icons-ic-address-total-height: 687px;
$icons-ic-address-image: '../images/sprite/icons.png';
$icons-ic-address: (638px, 277px, -638px, -277px, 50px, 50px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_address', );
$icons-ic-arr-bn-next-name: 'icons-ic_arr_bn_next';
$icons-ic-arr-bn-next-x: 0px;
$icons-ic-arr-bn-next-y: 598px;
$icons-ic-arr-bn-next-offset-x: 0px;
$icons-ic-arr-bn-next-offset-y: -598px;
$icons-ic-arr-bn-next-width: 44px;
$icons-ic-arr-bn-next-height: 44px;
$icons-ic-arr-bn-next-total-width: 721px;
$icons-ic-arr-bn-next-total-height: 687px;
$icons-ic-arr-bn-next-image: '../images/sprite/icons.png';
$icons-ic-arr-bn-next: (0px, 598px, 0px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_bn_next', );
$icons-ic-arr-bn-next-hover-name: 'icons-ic_arr_bn_next_hover';
$icons-ic-arr-bn-next-hover-x: 54px;
$icons-ic-arr-bn-next-hover-y: 598px;
$icons-ic-arr-bn-next-hover-offset-x: -54px;
$icons-ic-arr-bn-next-hover-offset-y: -598px;
$icons-ic-arr-bn-next-hover-width: 44px;
$icons-ic-arr-bn-next-hover-height: 44px;
$icons-ic-arr-bn-next-hover-total-width: 721px;
$icons-ic-arr-bn-next-hover-total-height: 687px;
$icons-ic-arr-bn-next-hover-image: '../images/sprite/icons.png';
$icons-ic-arr-bn-next-hover: (54px, 598px, -54px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_bn_next_hover', );
$icons-ic-arr-bn-prev-name: 'icons-ic_arr_bn_prev';
$icons-ic-arr-bn-prev-x: 108px;
$icons-ic-arr-bn-prev-y: 598px;
$icons-ic-arr-bn-prev-offset-x: -108px;
$icons-ic-arr-bn-prev-offset-y: -598px;
$icons-ic-arr-bn-prev-width: 44px;
$icons-ic-arr-bn-prev-height: 44px;
$icons-ic-arr-bn-prev-total-width: 721px;
$icons-ic-arr-bn-prev-total-height: 687px;
$icons-ic-arr-bn-prev-image: '../images/sprite/icons.png';
$icons-ic-arr-bn-prev: (108px, 598px, -108px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_bn_prev', );
$icons-ic-arr-bn-prev-hover-name: 'icons-ic_arr_bn_prev_hover';
$icons-ic-arr-bn-prev-hover-x: 162px;
$icons-ic-arr-bn-prev-hover-y: 598px;
$icons-ic-arr-bn-prev-hover-offset-x: -162px;
$icons-ic-arr-bn-prev-hover-offset-y: -598px;
$icons-ic-arr-bn-prev-hover-width: 44px;
$icons-ic-arr-bn-prev-hover-height: 44px;
$icons-ic-arr-bn-prev-hover-total-width: 721px;
$icons-ic-arr-bn-prev-hover-total-height: 687px;
$icons-ic-arr-bn-prev-hover-image: '../images/sprite/icons.png';
$icons-ic-arr-bn-prev-hover: (162px, 598px, -162px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_bn_prev_hover', );
$icons-ic-arr-go-bl-name: 'icons-ic_arr_go_bl';
$icons-ic-arr-go-bl-x: 216px;
$icons-ic-arr-go-bl-y: 598px;
$icons-ic-arr-go-bl-offset-x: -216px;
$icons-ic-arr-go-bl-offset-y: -598px;
$icons-ic-arr-go-bl-width: 44px;
$icons-ic-arr-go-bl-height: 44px;
$icons-ic-arr-go-bl-total-width: 721px;
$icons-ic-arr-go-bl-total-height: 687px;
$icons-ic-arr-go-bl-image: '../images/sprite/icons.png';
$icons-ic-arr-go-bl: (216px, 598px, -216px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_go_bl', );
$icons-ic-arr-go-gr-name: 'icons-ic_arr_go_gr';
$icons-ic-arr-go-gr-x: 270px;
$icons-ic-arr-go-gr-y: 598px;
$icons-ic-arr-go-gr-offset-x: -270px;
$icons-ic-arr-go-gr-offset-y: -598px;
$icons-ic-arr-go-gr-width: 44px;
$icons-ic-arr-go-gr-height: 44px;
$icons-ic-arr-go-gr-total-width: 721px;
$icons-ic-arr-go-gr-total-height: 687px;
$icons-ic-arr-go-gr-image: '../images/sprite/icons.png';
$icons-ic-arr-go-gr: (270px, 598px, -270px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_go_gr', );
$icons-ic-arr-go-nv-name: 'icons-ic_arr_go_nv';
$icons-ic-arr-go-nv-x: 324px;
$icons-ic-arr-go-nv-y: 598px;
$icons-ic-arr-go-nv-offset-x: -324px;
$icons-ic-arr-go-nv-offset-y: -598px;
$icons-ic-arr-go-nv-width: 44px;
$icons-ic-arr-go-nv-height: 44px;
$icons-ic-arr-go-nv-total-width: 721px;
$icons-ic-arr-go-nv-total-height: 687px;
$icons-ic-arr-go-nv-image: '../images/sprite/icons.png';
$icons-ic-arr-go-nv: (324px, 598px, -324px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_go_nv', );
$icons-ic-arr-map-name: 'icons-ic_arr_map';
$icons-ic-arr-map-x: 704px;
$icons-ic-arr-map-y: 25px;
$icons-ic-arr-map-offset-x: -704px;
$icons-ic-arr-map-offset-y: -25px;
$icons-ic-arr-map-width: 17px;
$icons-ic-arr-map-height: 12px;
$icons-ic-arr-map-total-width: 721px;
$icons-ic-arr-map-total-height: 687px;
$icons-ic-arr-map-image: '../images/sprite/icons.png';
$icons-ic-arr-map: (704px, 25px, -704px, -25px, 17px, 12px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_arr_map', );
$icons-ic-bn-auto-play-name: 'icons-ic_bn_auto_play';
$icons-ic-bn-auto-play-x: 704px;
$icons-ic-bn-auto-play-y: 128px;
$icons-ic-bn-auto-play-offset-x: -704px;
$icons-ic-bn-auto-play-offset-y: -128px;
$icons-ic-bn-auto-play-width: 7px;
$icons-ic-bn-auto-play-height: 11px;
$icons-ic-bn-auto-play-total-width: 721px;
$icons-ic-bn-auto-play-total-height: 687px;
$icons-ic-bn-auto-play-image: '../images/sprite/icons.png';
$icons-ic-bn-auto-play: (704px, 128px, -704px, -128px, 7px, 11px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_bn_auto_play', );
$icons-ic-bn-auto-stop-name: 'icons-ic_bn_auto_stop';
$icons-ic-bn-auto-stop-x: 704px;
$icons-ic-bn-auto-stop-y: 107px;
$icons-ic-bn-auto-stop-offset-x: -704px;
$icons-ic-bn-auto-stop-offset-y: -107px;
$icons-ic-bn-auto-stop-width: 8px;
$icons-ic-bn-auto-stop-height: 11px;
$icons-ic-bn-auto-stop-total-width: 721px;
$icons-ic-bn-auto-stop-total-height: 687px;
$icons-ic-bn-auto-stop-image: '../images/sprite/icons.png';
$icons-ic-bn-auto-stop: (704px, 107px, -704px, -107px, 8px, 11px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_bn_auto_stop', );
$icons-ic-btn-next-name: 'icons-ic_btn_next';
$icons-ic-btn-next-x: 540px;
$icons-ic-btn-next-y: 598px;
$icons-ic-btn-next-offset-x: -540px;
$icons-ic-btn-next-offset-y: -598px;
$icons-ic-btn-next-width: 44px;
$icons-ic-btn-next-height: 44px;
$icons-ic-btn-next-total-width: 721px;
$icons-ic-btn-next-total-height: 687px;
$icons-ic-btn-next-image: '../images/sprite/icons.png';
$icons-ic-btn-next: (540px, 598px, -540px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_btn_next', );
$icons-ic-btn-next-hover-name: 'icons-ic_btn_next_hover';
$icons-ic-btn-next-hover-x: 594px;
$icons-ic-btn-next-hover-y: 598px;
$icons-ic-btn-next-hover-offset-x: -594px;
$icons-ic-btn-next-hover-offset-y: -598px;
$icons-ic-btn-next-hover-width: 44px;
$icons-ic-btn-next-hover-height: 44px;
$icons-ic-btn-next-hover-total-width: 721px;
$icons-ic-btn-next-hover-total-height: 687px;
$icons-ic-btn-next-hover-image: '../images/sprite/icons.png';
$icons-ic-btn-next-hover: (594px, 598px, -594px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_btn_next_hover', );
$icons-ic-btn-prev-name: 'icons-ic_btn_prev';
$icons-ic-btn-prev-x: 638px;
$icons-ic-btn-prev-y: 451px;
$icons-ic-btn-prev-offset-x: -638px;
$icons-ic-btn-prev-offset-y: -451px;
$icons-ic-btn-prev-width: 44px;
$icons-ic-btn-prev-height: 44px;
$icons-ic-btn-prev-total-width: 721px;
$icons-ic-btn-prev-total-height: 687px;
$icons-ic-btn-prev-image: '../images/sprite/icons.png';
$icons-ic-btn-prev: (638px, 451px, -638px, -451px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_btn_prev', );
$icons-ic-btn-prev-hover-name: 'icons-ic_btn_prev_hover';
$icons-ic-btn-prev-hover-x: 638px;
$icons-ic-btn-prev-hover-y: 505px;
$icons-ic-btn-prev-hover-offset-x: -638px;
$icons-ic-btn-prev-hover-offset-y: -505px;
$icons-ic-btn-prev-hover-width: 44px;
$icons-ic-btn-prev-hover-height: 44px;
$icons-ic-btn-prev-hover-total-width: 721px;
$icons-ic-btn-prev-hover-total-height: 687px;
$icons-ic-btn-prev-hover-image: '../images/sprite/icons.png';
$icons-ic-btn-prev-hover: (638px, 505px, -638px, -505px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_btn_prev_hover', );
$icons-ic-calendar-name: 'icons-ic_calendar';
$icons-ic-calendar-x: 90px;
$icons-ic-calendar-y: 652px;
$icons-ic-calendar-offset-x: -90px;
$icons-ic-calendar-offset-y: -652px;
$icons-ic-calendar-width: 34px;
$icons-ic-calendar-height: 34px;
$icons-ic-calendar-total-width: 721px;
$icons-ic-calendar-total-height: 687px;
$icons-ic-calendar-image: '../images/sprite/icons.png';
$icons-ic-calendar: (90px, 652px, -90px, -652px, 34px, 34px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_calendar', );
$icons-ic-chk-off-name: 'icons-ic_chk_off';
$icons-ic-chk-off-x: 603px;
$icons-ic-chk-off-y: 300px;
$icons-ic-chk-off-offset-x: -603px;
$icons-ic-chk-off-offset-y: -300px;
$icons-ic-chk-off-width: 22px;
$icons-ic-chk-off-height: 22px;
$icons-ic-chk-off-total-width: 721px;
$icons-ic-chk-off-total-height: 687px;
$icons-ic-chk-off-image: '../images/sprite/icons.png';
$icons-ic-chk-off: (603px, 300px, -603px, -300px, 22px, 22px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_chk_off', );
$icons-ic-chk-on-name: 'icons-ic_chk_on';
$icons-ic-chk-on-x: 600px;
$icons-ic-chk-on-y: 468px;
$icons-ic-chk-on-offset-x: -600px;
$icons-ic-chk-on-offset-y: -468px;
$icons-ic-chk-on-width: 22px;
$icons-ic-chk-on-height: 22px;
$icons-ic-chk-on-total-width: 721px;
$icons-ic-chk-on-total-height: 687px;
$icons-ic-chk-on-image: '../images/sprite/icons.png';
$icons-ic-chk-on: (600px, 468px, -600px, -468px, 22px, 22px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_chk_on', );
$icons-ic-coffee-name: 'icons-ic_coffee';
$icons-ic-coffee-x: 638px;
$icons-ic-coffee-y: 141px;
$icons-ic-coffee-offset-x: -638px;
$icons-ic-coffee-offset-y: -141px;
$icons-ic-coffee-width: 47px;
$icons-ic-coffee-height: 56px;
$icons-ic-coffee-total-width: 721px;
$icons-ic-coffee-total-height: 687px;
$icons-ic-coffee-image: '../images/sprite/icons.png';
$icons-ic-coffee: (638px, 141px, -638px, -141px, 47px, 56px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_coffee', );
$icons-ic-delete-file-name: 'icons-ic_delete_file';
$icons-ic-delete-file-x: 704px;
$icons-ic-delete-file-y: 85px;
$icons-ic-delete-file-offset-x: -704px;
$icons-ic-delete-file-offset-y: -85px;
$icons-ic-delete-file-width: 12px;
$icons-ic-delete-file-height: 12px;
$icons-ic-delete-file-total-width: 721px;
$icons-ic-delete-file-total-height: 687px;
$icons-ic-delete-file-image: '../images/sprite/icons.png';
$icons-ic-delete-file: (704px, 85px, -704px, -85px, 12px, 12px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_delete_file', );
$icons-ic-download-name: 'icons-ic_download';
$icons-ic-download-x: 361px;
$icons-ic-download-y: 652px;
$icons-ic-download-offset-x: -361px;
$icons-ic-download-offset-y: -652px;
$icons-ic-download-width: 21px;
$icons-ic-download-height: 17px;
$icons-ic-download-total-width: 721px;
$icons-ic-download-total-height: 687px;
$icons-ic-download-image: '../images/sprite/icons.png';
$icons-ic-download: (361px, 652px, -361px, -652px, 21px, 17px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_download', );
$icons-ic-download-hover-name: 'icons-ic_download_hover';
$icons-ic-download-hover-x: 330px;
$icons-ic-download-hover-y: 652px;
$icons-ic-download-hover-offset-x: -330px;
$icons-ic-download-hover-offset-y: -652px;
$icons-ic-download-hover-width: 21px;
$icons-ic-download-hover-height: 17px;
$icons-ic-download-hover-total-width: 721px;
$icons-ic-download-hover-total-height: 687px;
$icons-ic-download-hover-image: '../images/sprite/icons.png';
$icons-ic-download-hover: (330px, 652px, -330px, -652px, 21px, 17px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_download_hover', );
$icons-ic-fb-name: 'icons-ic_fb';
$icons-ic-fb-x: 638px;
$icons-ic-fb-y: 559px;
$icons-ic-fb-offset-x: -638px;
$icons-ic-fb-offset-y: -559px;
$icons-ic-fb-width: 28px;
$icons-ic-fb-height: 28px;
$icons-ic-fb-total-width: 721px;
$icons-ic-fb-total-height: 687px;
$icons-ic-fb-image: '../images/sprite/icons.png';
$icons-ic-fb: (638px, 559px, -638px, -559px, 28px, 28px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_fb', );
$icons-ic-health-name: 'icons-ic_health';
$icons-ic-health-x: 638px;
$icons-ic-health-y: 0px;
$icons-ic-health-offset-x: -638px;
$icons-ic-health-offset-y: 0px;
$icons-ic-health-width: 56px;
$icons-ic-health-height: 60px;
$icons-ic-health-total-width: 721px;
$icons-ic-health-total-height: 687px;
$icons-ic-health-image: '../images/sprite/icons.png';
$icons-ic-health: (638px, 0px, -638px, 0px, 56px, 60px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_health', );
$icons-ic-ipin-name: 'icons-ic_ipin';
$icons-ic-ipin-x: 520px;
$icons-ic-ipin-y: 118px;
$icons-ic-ipin-offset-x: -520px;
$icons-ic-ipin-offset-y: -118px;
$icons-ic-ipin-width: 87px;
$icons-ic-ipin-height: 99px;
$icons-ic-ipin-total-width: 721px;
$icons-ic-ipin-total-height: 687px;
$icons-ic-ipin-image: '../images/sprite/icons.png';
$icons-ic-ipin: (520px, 118px, -520px, -118px, 87px, 99px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_ipin', );
$icons-ic-life-name: 'icons-ic_life';
$icons-ic-life-x: 638px;
$icons-ic-life-y: 207px;
$icons-ic-life-offset-x: -638px;
$icons-ic-life-offset-y: -207px;
$icons-ic-life-width: 42px;
$icons-ic-life-height: 60px;
$icons-ic-life-total-width: 721px;
$icons-ic-life-total-height: 687px;
$icons-ic-life-image: '../images/sprite/icons.png';
$icons-ic-life: (638px, 207px, -638px, -207px, 42px, 60px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_life', );
$icons-ic-light-name: 'icons-ic_light';
$icons-ic-light-x: 0px;
$icons-ic-light-y: 520px;
$icons-ic-light-offset-x: 0px;
$icons-ic-light-offset-y: -520px;
$icons-ic-light-width: 61px;
$icons-ic-light-height: 68px;
$icons-ic-light-total-width: 721px;
$icons-ic-light-total-height: 687px;
$icons-ic-light-image: '../images/sprite/icons.png';
$icons-ic-light: (0px, 520px, 0px, -520px, 61px, 68px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_light', );
$icons-ic-method-01-name: 'icons-ic_method_01';
$icons-ic-method-01-x: 0px;
$icons-ic-method-01-y: 0px;
$icons-ic-method-01-offset-x: 0px;
$icons-ic-method-01-offset-y: 0px;
$icons-ic-method-01-width: 250px;
$icons-ic-method-01-height: 250px;
$icons-ic-method-01-total-width: 721px;
$icons-ic-method-01-total-height: 687px;
$icons-ic-method-01-image: '../images/sprite/icons.png';
$icons-ic-method-01: (0px, 0px, 0px, 0px, 250px, 250px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_method_01', );
$icons-ic-method-02-name: 'icons-ic_method_02';
$icons-ic-method-02-x: 260px;
$icons-ic-method-02-y: 260px;
$icons-ic-method-02-offset-x: -260px;
$icons-ic-method-02-offset-y: -260px;
$icons-ic-method-02-width: 250px;
$icons-ic-method-02-height: 250px;
$icons-ic-method-02-total-width: 721px;
$icons-ic-method-02-total-height: 687px;
$icons-ic-method-02-image: '../images/sprite/icons.png';
$icons-ic-method-02: (260px, 260px, -260px, -260px, 250px, 250px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_method_02', );
$icons-ic-method-03-name: 'icons-ic_method_03';
$icons-ic-method-03-x: 0px;
$icons-ic-method-03-y: 260px;
$icons-ic-method-03-offset-x: 0px;
$icons-ic-method-03-offset-y: -260px;
$icons-ic-method-03-width: 250px;
$icons-ic-method-03-height: 250px;
$icons-ic-method-03-total-width: 721px;
$icons-ic-method-03-total-height: 687px;
$icons-ic-method-03-image: '../images/sprite/icons.png';
$icons-ic-method-03: (0px, 260px, 0px, -260px, 250px, 250px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_method_03', );
$icons-ic-method-04-name: 'icons-ic_method_04';
$icons-ic-method-04-x: 260px;
$icons-ic-method-04-y: 0px;
$icons-ic-method-04-offset-x: -260px;
$icons-ic-method-04-offset-y: 0px;
$icons-ic-method-04-width: 250px;
$icons-ic-method-04-height: 250px;
$icons-ic-method-04-total-width: 721px;
$icons-ic-method-04-total-height: 687px;
$icons-ic-method-04-image: '../images/sprite/icons.png';
$icons-ic-method-04: (260px, 0px, -260px, 0px, 250px, 250px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_method_04', );
$icons-ic-next-page-name: 'icons-ic_next_page';
$icons-ic-next-page-x: 424px;
$icons-ic-next-page-y: 652px;
$icons-ic-next-page-offset-x: -424px;
$icons-ic-next-page-offset-y: -652px;
$icons-ic-next-page-width: 22px;
$icons-ic-next-page-height: 15px;
$icons-ic-next-page-total-width: 721px;
$icons-ic-next-page-total-height: 687px;
$icons-ic-next-page-image: '../images/sprite/icons.png';
$icons-ic-next-page: (424px, 652px, -424px, -652px, 22px, 15px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_next_page', );
$icons-ic-page-top-name: 'icons-ic_page_top';
$icons-ic-page-top-x: 638px;
$icons-ic-page-top-y: 397px;
$icons-ic-page-top-offset-x: -638px;
$icons-ic-page-top-offset-y: -397px;
$icons-ic-page-top-width: 44px;
$icons-ic-page-top-height: 44px;
$icons-ic-page-top-total-width: 721px;
$icons-ic-page-top-total-height: 687px;
$icons-ic-page-top-image: '../images/sprite/icons.png';
$icons-ic-page-top: (638px, 397px, -638px, -397px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_page_top', );
$icons-ic-path-down-name: 'icons-ic_path_down';
$icons-ic-path-down-x: 704px;
$icons-ic-path-down-y: 183px;
$icons-ic-path-down-offset-x: -704px;
$icons-ic-path-down-offset-y: -183px;
$icons-ic-path-down-width: 9px;
$icons-ic-path-down-height: 5px;
$icons-ic-path-down-total-width: 721px;
$icons-ic-path-down-total-height: 687px;
$icons-ic-path-down-image: '../images/sprite/icons.png';
$icons-ic-path-down: (704px, 183px, -704px, -183px, 9px, 5px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_path_down', );
$icons-ic-path-home-name: 'icons-ic_path_home';
$icons-ic-path-home-x: 704px;
$icons-ic-path-home-y: 0px;
$icons-ic-path-home-offset-x: -704px;
$icons-ic-path-home-offset-y: 0px;
$icons-ic-path-home-width: 17px;
$icons-ic-path-home-height: 15px;
$icons-ic-path-home-total-width: 721px;
$icons-ic-path-home-total-height: 687px;
$icons-ic-path-home-image: '../images/sprite/icons.png';
$icons-ic-path-home: (704px, 0px, -704px, 0px, 17px, 15px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_path_home', );
$icons-ic-path-link-name: 'icons-ic_path_link';
$icons-ic-path-link-x: 704px;
$icons-ic-path-link-y: 164px;
$icons-ic-path-link-offset-x: -704px;
$icons-ic-path-link-offset-y: -164px;
$icons-ic-path-link-width: 5px;
$icons-ic-path-link-height: 9px;
$icons-ic-path-link-total-width: 721px;
$icons-ic-path-link-total-height: 687px;
$icons-ic-path-link-image: '../images/sprite/icons.png';
$icons-ic-path-link: (704px, 164px, -704px, -164px, 5px, 9px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_path_link', );
$icons-ic-path-up-name: 'icons-ic_path_up';
$icons-ic-path-up-x: 704px;
$icons-ic-path-up-y: 198px;
$icons-ic-path-up-offset-x: -704px;
$icons-ic-path-up-offset-y: -198px;
$icons-ic-path-up-width: 9px;
$icons-ic-path-up-height: 5px;
$icons-ic-path-up-total-width: 721px;
$icons-ic-path-up-total-height: 687px;
$icons-ic-path-up-image: '../images/sprite/icons.png';
$icons-ic-path-up: (704px, 198px, -704px, -198px, 9px, 5px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_path_up', );
$icons-ic-person-name: 'icons-ic_person';
$icons-ic-person-x: 520px;
$icons-ic-person-y: 432px;
$icons-ic-person-offset-x: -520px;
$icons-ic-person-offset-y: -432px;
$icons-ic-person-width: 70px;
$icons-ic-person-height: 60px;
$icons-ic-person-total-width: 721px;
$icons-ic-person-total-height: 687px;
$icons-ic-person-image: '../images/sprite/icons.png';
$icons-ic-person: (520px, 432px, -520px, -432px, 70px, 60px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_person', );
$icons-ic-phone-name: 'icons-ic_phone';
$icons-ic-phone-x: 520px;
$icons-ic-phone-y: 227px;
$icons-ic-phone-offset-x: -520px;
$icons-ic-phone-offset-y: -227px;
$icons-ic-phone-width: 73px;
$icons-ic-phone-height: 102px;
$icons-ic-phone-total-width: 721px;
$icons-ic-phone-total-height: 687px;
$icons-ic-phone-image: '../images/sprite/icons.png';
$icons-ic-phone: (520px, 227px, -520px, -227px, 73px, 102px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_phone', );
$icons-ic-play-name: 'icons-ic_play';
$icons-ic-play-x: 600px;
$icons-ic-play-y: 432px;
$icons-ic-play-offset-x: -600px;
$icons-ic-play-offset-y: -432px;
$icons-ic-play-width: 26px;
$icons-ic-play-height: 26px;
$icons-ic-play-total-width: 721px;
$icons-ic-play-total-height: 687px;
$icons-ic-play-image: '../images/sprite/icons.png';
$icons-ic-play: (600px, 432px, -600px, -432px, 26px, 26px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_play', );
$icons-ic-play-hover-name: 'icons-ic_play_hover';
$icons-ic-play-hover-x: 174px;
$icons-ic-play-hover-y: 652px;
$icons-ic-play-hover-offset-x: -174px;
$icons-ic-play-hover-offset-y: -652px;
$icons-ic-play-hover-width: 26px;
$icons-ic-play-hover-height: 26px;
$icons-ic-play-hover-total-width: 721px;
$icons-ic-play-hover-total-height: 687px;
$icons-ic-play-hover-image: '../images/sprite/icons.png';
$icons-ic-play-hover: (174px, 652px, -174px, -652px, 26px, 26px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_play_hover', );
$icons-ic-popup-close-name: 'icons-ic_popup_close';
$icons-ic-popup-close-x: 134px;
$icons-ic-popup-close-y: 652px;
$icons-ic-popup-close-offset-x: -134px;
$icons-ic-popup-close-offset-y: -652px;
$icons-ic-popup-close-width: 30px;
$icons-ic-popup-close-height: 30px;
$icons-ic-popup-close-total-width: 721px;
$icons-ic-popup-close-total-height: 687px;
$icons-ic-popup-close-image: '../images/sprite/icons.png';
$icons-ic-popup-close: (134px, 652px, -134px, -652px, 30px, 30px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_popup_close', );
$icons-ic-prev-page-name: 'icons-ic_prev_page';
$icons-ic-prev-page-x: 392px;
$icons-ic-prev-page-y: 652px;
$icons-ic-prev-page-offset-x: -392px;
$icons-ic-prev-page-offset-y: -652px;
$icons-ic-prev-page-width: 22px;
$icons-ic-prev-page-height: 15px;
$icons-ic-prev-page-total-width: 721px;
$icons-ic-prev-page-total-height: 687px;
$icons-ic-prev-page-image: '../images/sprite/icons.png';
$icons-ic-prev-page: (392px, 652px, -392px, -652px, 22px, 15px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_prev_page', );
$icons-ic-procs-arrow-name: 'icons-ic_procs_arrow';
$icons-ic-procs-arrow-x: 648px;
$icons-ic-procs-arrow-y: 598px;
$icons-ic-procs-arrow-offset-x: -648px;
$icons-ic-procs-arrow-offset-y: -598px;
$icons-ic-procs-arrow-width: 36px;
$icons-ic-procs-arrow-height: 36px;
$icons-ic-procs-arrow-total-width: 721px;
$icons-ic-procs-arrow-total-height: 687px;
$icons-ic-procs-arrow-image: '../images/sprite/icons.png';
$icons-ic-procs-arrow: (648px, 598px, -648px, -598px, 36px, 36px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_procs_arrow', );
$icons-ic-puzzle-name: 'icons-ic_puzzle';
$icons-ic-puzzle-x: 71px;
$icons-ic-puzzle-y: 520px;
$icons-ic-puzzle-offset-x: -71px;
$icons-ic-puzzle-offset-y: -520px;
$icons-ic-puzzle-width: 59px;
$icons-ic-puzzle-height: 59px;
$icons-ic-puzzle-total-width: 721px;
$icons-ic-puzzle-total-height: 687px;
$icons-ic-puzzle-image: '../images/sprite/icons.png';
$icons-ic-puzzle: (71px, 520px, -71px, -520px, 59px, 59px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_puzzle', );
$icons-ic-qna-name: 'icons-ic_qna';
$icons-ic-qna-x: 603px;
$icons-ic-qna-y: 227px;
$icons-ic-qna-offset-x: -603px;
$icons-ic-qna-offset-y: -227px;
$icons-ic-qna-width: 23px;
$icons-ic-qna-height: 28px;
$icons-ic-qna-total-width: 721px;
$icons-ic-qna-total-height: 687px;
$icons-ic-qna-image: '../images/sprite/icons.png';
$icons-ic-qna: (603px, 227px, -603px, -227px, 23px, 28px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_qna', );
$icons-ic-radio-off-name: 'icons-ic_radio_off';
$icons-ic-radio-off-x: 300px;
$icons-ic-radio-off-y: 652px;
$icons-ic-radio-off-offset-x: -300px;
$icons-ic-radio-off-offset-y: -652px;
$icons-ic-radio-off-width: 20px;
$icons-ic-radio-off-height: 20px;
$icons-ic-radio-off-total-width: 721px;
$icons-ic-radio-off-total-height: 687px;
$icons-ic-radio-off-image: '../images/sprite/icons.png';
$icons-ic-radio-off: (300px, 652px, -300px, -652px, 20px, 20px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_radio_off', );
$icons-ic-radio-on-name: 'icons-ic_radio_on';
$icons-ic-radio-on-x: 210px;
$icons-ic-radio-on-y: 652px;
$icons-ic-radio-on-offset-x: -210px;
$icons-ic-radio-on-offset-y: -652px;
$icons-ic-radio-on-width: 20px;
$icons-ic-radio-on-height: 20px;
$icons-ic-radio-on-total-width: 721px;
$icons-ic-radio-on-total-height: 687px;
$icons-ic-radio-on-image: '../images/sprite/icons.png';
$icons-ic-radio-on: (210px, 652px, -210px, -652px, 20px, 20px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_radio_on', );
$icons-ic-remove-name: 'icons-ic_remove';
$icons-ic-remove-x: 240px;
$icons-ic-remove-y: 652px;
$icons-ic-remove-offset-x: -240px;
$icons-ic-remove-offset-y: -652px;
$icons-ic-remove-width: 20px;
$icons-ic-remove-height: 20px;
$icons-ic-remove-total-width: 721px;
$icons-ic-remove-total-height: 687px;
$icons-ic-remove-image: '../images/sprite/icons.png';
$icons-ic-remove: (240px, 652px, -240px, -652px, 20px, 20px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_remove', );
$icons-ic-scroll-down-name: 'icons-ic_scroll_down';
$icons-ic-scroll-down-x: 676px;
$icons-ic-scroll-down-y: 559px;
$icons-ic-scroll-down-offset-x: -676px;
$icons-ic-scroll-down-offset-y: -559px;
$icons-ic-scroll-down-width: 16px;
$icons-ic-scroll-down-height: 21px;
$icons-ic-scroll-down-total-width: 721px;
$icons-ic-scroll-down-total-height: 687px;
$icons-ic-scroll-down-image: '../images/sprite/icons.png';
$icons-ic-scroll-down: (676px, 559px, -676px, -559px, 16px, 21px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_scroll_down', );
$icons-ic-selectbox-name: 'icons-ic_selectbox';
$icons-ic-selectbox-x: 704px;
$icons-ic-selectbox-y: 149px;
$icons-ic-selectbox-offset-x: -704px;
$icons-ic-selectbox-offset-y: -149px;
$icons-ic-selectbox-width: 10px;
$icons-ic-selectbox-height: 5px;
$icons-ic-selectbox-total-width: 721px;
$icons-ic-selectbox-total-height: 687px;
$icons-ic-selectbox-image: '../images/sprite/icons.png';
$icons-ic-selectbox: (704px, 149px, -704px, -149px, 10px, 5px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_selectbox', );
$icons-ic-srch-name: 'icons-ic_srch';
$icons-ic-srch-x: 603px;
$icons-ic-srch-y: 265px;
$icons-ic-srch-offset-x: -603px;
$icons-ic-srch-offset-y: -265px;
$icons-ic-srch-width: 25px;
$icons-ic-srch-height: 25px;
$icons-ic-srch-total-width: 721px;
$icons-ic-srch-total-height: 687px;
$icons-ic-srch-image: '../images/sprite/icons.png';
$icons-ic-srch: (603px, 265px, -603px, -265px, 25px, 25px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_srch', );
$icons-ic-study-name: 'icons-ic_study';
$icons-ic-study-x: 638px;
$icons-ic-study-y: 70px;
$icons-ic-study-offset-x: -638px;
$icons-ic-study-offset-y: -70px;
$icons-ic-study-width: 45px;
$icons-ic-study-height: 61px;
$icons-ic-study-total-width: 721px;
$icons-ic-study-total-height: 687px;
$icons-ic-study-image: '../images/sprite/icons.png';
$icons-ic-study: (638px, 70px, -638px, -70px, 45px, 61px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_study', );
$icons-ic-substain-name: 'icons-ic_substain';
$icons-ic-substain-x: 520px;
$icons-ic-substain-y: 339px;
$icons-ic-substain-offset-x: -520px;
$icons-ic-substain-offset-y: -339px;
$icons-ic-substain-width: 85px;
$icons-ic-substain-height: 83px;
$icons-ic-substain-total-width: 721px;
$icons-ic-substain-total-height: 687px;
$icons-ic-substain-image: '../images/sprite/icons.png';
$icons-ic-substain: (520px, 339px, -520px, -339px, 85px, 83px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_substain', );
$icons-ic-telephone-name: 'icons-ic_telephone';
$icons-ic-telephone-x: 638px;
$icons-ic-telephone-y: 337px;
$icons-ic-telephone-offset-x: -638px;
$icons-ic-telephone-offset-y: -337px;
$icons-ic-telephone-width: 50px;
$icons-ic-telephone-height: 50px;
$icons-ic-telephone-total-width: 721px;
$icons-ic-telephone-total-height: 687px;
$icons-ic-telephone-image: '../images/sprite/icons.png';
$icons-ic-telephone: (638px, 337px, -638px, -337px, 50px, 50px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_telephone', );
$icons-ic-wran-name: 'icons-ic_wran';
$icons-ic-wran-x: 45px;
$icons-ic-wran-y: 652px;
$icons-ic-wran-offset-x: -45px;
$icons-ic-wran-offset-y: -652px;
$icons-ic-wran-width: 35px;
$icons-ic-wran-height: 35px;
$icons-ic-wran-total-width: 721px;
$icons-ic-wran-total-height: 687px;
$icons-ic-wran-image: '../images/sprite/icons.png';
$icons-ic-wran: (45px, 652px, -45px, -652px, 35px, 35px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_wran', );
$icons-ic-wran-active-name: 'icons-ic_wran_active';
$icons-ic-wran-active-x: 0px;
$icons-ic-wran-active-y: 652px;
$icons-ic-wran-active-offset-x: 0px;
$icons-ic-wran-active-offset-y: -652px;
$icons-ic-wran-active-width: 35px;
$icons-ic-wran-active-height: 35px;
$icons-ic-wran-active-total-width: 721px;
$icons-ic-wran-active-total-height: 687px;
$icons-ic-wran-active-image: '../images/sprite/icons.png';
$icons-ic-wran-active: (0px, 652px, 0px, -652px, 35px, 35px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_wran_active', );
$icons-ic-wran-prepare-name: 'icons-ic_wran_prepare';
$icons-ic-wran-prepare-x: 520px;
$icons-ic-wran-prepare-y: 0px;
$icons-ic-wran-prepare-offset-x: -520px;
$icons-ic-wran-prepare-offset-y: 0px;
$icons-ic-wran-prepare-width: 108px;
$icons-ic-wran-prepare-height: 108px;
$icons-ic-wran-prepare-total-width: 721px;
$icons-ic-wran-prepare-total-height: 687px;
$icons-ic-wran-prepare-image: '../images/sprite/icons.png';
$icons-ic-wran-prepare: (520px, 0px, -520px, 0px, 108px, 108px, 721px, 687px, '../images/sprite/icons.png', 'icons-ic_wran_prepare', );
$icons-next-slide-blue-name: 'icons-next_slide_blue';
$icons-next-slide-blue-x: 410px;
$icons-next-slide-blue-y: 520px;
$icons-next-slide-blue-offset-x: -410px;
$icons-next-slide-blue-offset-y: -520px;
$icons-next-slide-blue-width: 44px;
$icons-next-slide-blue-height: 44px;
$icons-next-slide-blue-total-width: 721px;
$icons-next-slide-blue-total-height: 687px;
$icons-next-slide-blue-image: '../images/sprite/icons.png';
$icons-next-slide-blue: (410px, 520px, -410px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-next_slide_blue', );
$icons-next-slide-blue-hover-name: 'icons-next_slide_blue_hover';
$icons-next-slide-blue-hover-x: 356px;
$icons-next-slide-blue-hover-y: 520px;
$icons-next-slide-blue-hover-offset-x: -356px;
$icons-next-slide-blue-hover-offset-y: -520px;
$icons-next-slide-blue-hover-width: 44px;
$icons-next-slide-blue-hover-height: 44px;
$icons-next-slide-blue-hover-total-width: 721px;
$icons-next-slide-blue-hover-total-height: 687px;
$icons-next-slide-blue-hover-image: '../images/sprite/icons.png';
$icons-next-slide-blue-hover: (356px, 520px, -356px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-next_slide_blue_hover', );
$icons-next-slide-darkblue-name: 'icons-next_slide_darkblue';
$icons-next-slide-darkblue-x: 248px;
$icons-next-slide-darkblue-y: 520px;
$icons-next-slide-darkblue-offset-x: -248px;
$icons-next-slide-darkblue-offset-y: -520px;
$icons-next-slide-darkblue-width: 44px;
$icons-next-slide-darkblue-height: 44px;
$icons-next-slide-darkblue-total-width: 721px;
$icons-next-slide-darkblue-total-height: 687px;
$icons-next-slide-darkblue-image: '../images/sprite/icons.png';
$icons-next-slide-darkblue: (248px, 520px, -248px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-next_slide_darkblue', );
$icons-next-slide-darkblue-hover-name: 'icons-next_slide_darkblue_hover';
$icons-next-slide-darkblue-hover-x: 194px;
$icons-next-slide-darkblue-hover-y: 520px;
$icons-next-slide-darkblue-hover-offset-x: -194px;
$icons-next-slide-darkblue-hover-offset-y: -520px;
$icons-next-slide-darkblue-hover-width: 44px;
$icons-next-slide-darkblue-hover-height: 44px;
$icons-next-slide-darkblue-hover-total-width: 721px;
$icons-next-slide-darkblue-hover-total-height: 687px;
$icons-next-slide-darkblue-hover-image: '../images/sprite/icons.png';
$icons-next-slide-darkblue-hover: (194px, 520px, -194px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-next_slide_darkblue_hover', );
$icons-next-slide-green-name: 'icons-next_slide_green';
$icons-next-slide-green-x: 140px;
$icons-next-slide-green-y: 520px;
$icons-next-slide-green-offset-x: -140px;
$icons-next-slide-green-offset-y: -520px;
$icons-next-slide-green-width: 44px;
$icons-next-slide-green-height: 44px;
$icons-next-slide-green-total-width: 721px;
$icons-next-slide-green-total-height: 687px;
$icons-next-slide-green-image: '../images/sprite/icons.png';
$icons-next-slide-green: (140px, 520px, -140px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-next_slide_green', );
$icons-next-slide-green-hover-name: 'icons-next_slide_green_hover';
$icons-next-slide-green-hover-x: 486px;
$icons-next-slide-green-hover-y: 598px;
$icons-next-slide-green-hover-offset-x: -486px;
$icons-next-slide-green-hover-offset-y: -598px;
$icons-next-slide-green-hover-width: 44px;
$icons-next-slide-green-hover-height: 44px;
$icons-next-slide-green-hover-total-width: 721px;
$icons-next-slide-green-hover-total-height: 687px;
$icons-next-slide-green-hover-image: '../images/sprite/icons.png';
$icons-next-slide-green-hover: (486px, 598px, -486px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-next_slide_green_hover', );
$icons-prev-slide-blue-name: 'icons-prev_slide_blue';
$icons-prev-slide-blue-x: 432px;
$icons-prev-slide-blue-y: 598px;
$icons-prev-slide-blue-offset-x: -432px;
$icons-prev-slide-blue-offset-y: -598px;
$icons-prev-slide-blue-width: 44px;
$icons-prev-slide-blue-height: 44px;
$icons-prev-slide-blue-total-width: 721px;
$icons-prev-slide-blue-total-height: 687px;
$icons-prev-slide-blue-image: '../images/sprite/icons.png';
$icons-prev-slide-blue: (432px, 598px, -432px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-prev_slide_blue', );
$icons-prev-slide-blue-hover-name: 'icons-prev_slide_blue_hover';
$icons-prev-slide-blue-hover-x: 378px;
$icons-prev-slide-blue-hover-y: 598px;
$icons-prev-slide-blue-hover-offset-x: -378px;
$icons-prev-slide-blue-hover-offset-y: -598px;
$icons-prev-slide-blue-hover-width: 44px;
$icons-prev-slide-blue-hover-height: 44px;
$icons-prev-slide-blue-hover-total-width: 721px;
$icons-prev-slide-blue-hover-total-height: 687px;
$icons-prev-slide-blue-hover-image: '../images/sprite/icons.png';
$icons-prev-slide-blue-hover: (378px, 598px, -378px, -598px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-prev_slide_blue_hover', );
$icons-prev-slide-darkblue-name: 'icons-prev_slide_darkblue';
$icons-prev-slide-darkblue-x: 518px;
$icons-prev-slide-darkblue-y: 520px;
$icons-prev-slide-darkblue-offset-x: -518px;
$icons-prev-slide-darkblue-offset-y: -520px;
$icons-prev-slide-darkblue-width: 44px;
$icons-prev-slide-darkblue-height: 44px;
$icons-prev-slide-darkblue-total-width: 721px;
$icons-prev-slide-darkblue-total-height: 687px;
$icons-prev-slide-darkblue-image: '../images/sprite/icons.png';
$icons-prev-slide-darkblue: (518px, 520px, -518px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-prev_slide_darkblue', );
$icons-prev-slide-darkblue-hover-name: 'icons-prev_slide_darkblue_hover';
$icons-prev-slide-darkblue-hover-x: 464px;
$icons-prev-slide-darkblue-hover-y: 520px;
$icons-prev-slide-darkblue-hover-offset-x: -464px;
$icons-prev-slide-darkblue-hover-offset-y: -520px;
$icons-prev-slide-darkblue-hover-width: 44px;
$icons-prev-slide-darkblue-hover-height: 44px;
$icons-prev-slide-darkblue-hover-total-width: 721px;
$icons-prev-slide-darkblue-hover-total-height: 687px;
$icons-prev-slide-darkblue-hover-image: '../images/sprite/icons.png';
$icons-prev-slide-darkblue-hover: (464px, 520px, -464px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-prev_slide_darkblue_hover', );
$icons-prev-slide-green-name: 'icons-prev_slide_green';
$icons-prev-slide-green-x: 302px;
$icons-prev-slide-green-y: 520px;
$icons-prev-slide-green-offset-x: -302px;
$icons-prev-slide-green-offset-y: -520px;
$icons-prev-slide-green-width: 44px;
$icons-prev-slide-green-height: 44px;
$icons-prev-slide-green-total-width: 721px;
$icons-prev-slide-green-total-height: 687px;
$icons-prev-slide-green-image: '../images/sprite/icons.png';
$icons-prev-slide-green: (302px, 520px, -302px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-prev_slide_green', );
$icons-prev-slide-green-hover-name: 'icons-prev_slide_green_hover';
$icons-prev-slide-green-hover-x: 572px;
$icons-prev-slide-green-hover-y: 520px;
$icons-prev-slide-green-hover-offset-x: -572px;
$icons-prev-slide-green-hover-offset-y: -520px;
$icons-prev-slide-green-hover-width: 44px;
$icons-prev-slide-green-hover-height: 44px;
$icons-prev-slide-green-hover-total-width: 721px;
$icons-prev-slide-green-hover-total-height: 687px;
$icons-prev-slide-green-hover-image: '../images/sprite/icons.png';
$icons-prev-slide-green-hover: (572px, 520px, -572px, -520px, 44px, 44px, 721px, 687px, '../images/sprite/icons.png', 'icons-prev_slide_green_hover', );
$icons-width: 721px;
$icons-height: 687px;
$icons-image: '../images/sprite/icons.png';
$icons-sprites: ($icons-arr-acord-down, $icons-arr-acord-up, $icons-ic-3depth-m-close, $icons-ic-3depth-m-open, $icons-ic-add, $icons-ic-address, $icons-ic-arr-bn-next, $icons-ic-arr-bn-next-hover, $icons-ic-arr-bn-prev, $icons-ic-arr-bn-prev-hover, $icons-ic-arr-go-bl, $icons-ic-arr-go-gr, $icons-ic-arr-go-nv, $icons-ic-arr-map, $icons-ic-bn-auto-play, $icons-ic-bn-auto-stop, $icons-ic-btn-next, $icons-ic-btn-next-hover, $icons-ic-btn-prev, $icons-ic-btn-prev-hover, $icons-ic-calendar, $icons-ic-chk-off, $icons-ic-chk-on, $icons-ic-coffee, $icons-ic-delete-file, $icons-ic-download, $icons-ic-download-hover, $icons-ic-fb, $icons-ic-health, $icons-ic-ipin, $icons-ic-life, $icons-ic-light, $icons-ic-method-01, $icons-ic-method-02, $icons-ic-method-03, $icons-ic-method-04, $icons-ic-next-page, $icons-ic-page-top, $icons-ic-path-down, $icons-ic-path-home, $icons-ic-path-link, $icons-ic-path-up, $icons-ic-person, $icons-ic-phone, $icons-ic-play, $icons-ic-play-hover, $icons-ic-popup-close, $icons-ic-prev-page, $icons-ic-procs-arrow, $icons-ic-puzzle, $icons-ic-qna, $icons-ic-radio-off, $icons-ic-radio-on, $icons-ic-remove, $icons-ic-scroll-down, $icons-ic-selectbox, $icons-ic-srch, $icons-ic-study, $icons-ic-substain, $icons-ic-telephone, $icons-ic-wran, $icons-ic-wran-active, $icons-ic-wran-prepare, $icons-next-slide-blue, $icons-next-slide-blue-hover, $icons-next-slide-darkblue, $icons-next-slide-darkblue-hover, $icons-next-slide-green, $icons-next-slide-green-hover, $icons-prev-slide-blue, $icons-prev-slide-blue-hover, $icons-prev-slide-darkblue, $icons-prev-slide-darkblue-hover, $icons-prev-slide-green, $icons-prev-slide-green-hover, );
$icons: (721px, 687px, '../images/sprite/icons.png', $icons-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
