@charset "UTF-8";
// $layout-header-height : 50px;
// $layout-header-background-color-athome : #fa5a44;
// $layout-header-background-color : #fff;
// $layout-header-cartcount-background-color-old : #12aec3;
// $layout-header-cartcount-background-color : #f27935;

$sub-content-width:1080px;
$pc-header-height : 80px;
$mobile-header-height : 50px;
$mobile-content-bottom-padding : 30px;