@charset "UTF-8";

%{{spritesheet_name}} {    
	/*background: url('{{{spritesheet.escaped_image}}}?v=#{timestamp()}') no-repeat;*/
	background: url('{{{spritesheet.escaped_image}}}') no-repeat;
	display: inline-block;
	overflow: hidden;
}

@mixin {{spritesheet_name}}($filename, $padding-top:0, $padding-right:0, $padding-bottom:0, $padding-left:0){
	$dimension-map: map-get(${{spritesheet_name}}, $filename);
	@extend %{{spritesheet_name}};
	@include sp-mosaic($dimension-map, $filename, $padding-top, $padding-right, $padding-bottom, $padding-left);
}

${{spritesheet_name}}: (
	spritesheet_name: {{spritesheet_name}},
	{{#items}}
	{{name}}: (offset_x: {{#options.zerounit}}{{px.offset_x}}{{/options.zerounit}}, offset_y: {{#options.zerounit}}{{px.offset_y}}{{/options.zerounit}}, width: {{px.width}}, height: {{px.height}}),
	{{/items}}
);
